
<div class="header-line"></div>
<div class="home-main"> 
    <div class="home-content">
        <img class="home-img" src="~/images/CardSymbols.png">
        <div class="home-desc">
            <h4>Welcome to Deck Master!</h4>
            <p>
                We specialize in providing high-quality decks of cards for all your gaming and card collecting needs. Our online store offers a wide variety of decks, from standard playing cards to collectible and limited edition decks.</p>

            <p> Our decks are made with durable materials and feature stunning designs, making them perfect for both casual and serious players. We also offer custom deck printing services to help you create your own personalized deck.</p>

            <p> Thank you for choosing Deck Master for all your card needs. Shop now and discover the perfect deck for you!</p>
            </p>
        </div>
        <img class="home-img" src="~/images/CardSymbols.png">
    </div>
    <button class="btn btn-light home-shop-btn"><a href="~/Home/Shop">Shop Now</a></button>
    
<div/>






